// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.site {
	font-size: 12px;
}
.submit {
  display: block;
  margin-top: 10px;
}
input {
  width: 400px; 
}
#post_body, #comment_content {
  width: 400px;
  height: 75px;
}
.post-vote-rank, .post-info {
  display: block;
  float: left;
  margin-right: 5px;
}
.post-rank {
  font-size: 30px;
  float: left;
  margin: 10px 10px 0 10px;
}
.post-vote, .post-index {
  float: left;
  font-size: 20px;
}
.post-index {
  margin-top: 10px;
  margin-right: 10px;
}
.post-container {
  margin-top: 20px;
}